* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
  background: #4267b2;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(255, 248, 233);
}
.logo {
  font-family: "Special Elite", cursive;
}
.fas {
  margin: auto 0;
}
.logout:hover {
  color: rgb(255, 78, 78);
  cursor: pointer;
}
.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
.post-form {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.post-area {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  resize: none;
}
.submit-post {
  background: #4267b2;
  border: 1px solid #4267b2;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Special Elite", cursive;
  color: rgb(255, 248, 233);
  padding: 10px;
  border-radius: 5px;
}
.submit-post:hover {
  cursor: pointer;
  background: #4267b2be;
}
.posts {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.post-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-top: 40px;
  border: 2px solid rgb(238, 248, 252);
  background: rgb(238, 248, 252);
  border-radius: 5px;
  padding: 5px;
}
.post-header {
  display: flex;
  font-size: 1.5rem;
  height: 40%;
}
.post-body {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60%;
}
.post--header-icon {
  margin-right: 10px;
  font-size: 2rem;
  color: #4267b2;
}
